body {
    margin: 0;
}

.top-section {
    display: flex;
    position: relative;
    background-color: crimson;
    padding: 0;
    margin: 0;
}

.titre-container {
    display: inline-block;
    font-family: Marker Felt, fantasy;
    font-size: large;
    font-variant: small-caps;
    color: white;
    padding: 0;
    margin: 0;
}

.titre {
    margin: 0;
    padding: 15px 0 0 40px;
}

.slogan {
    margin: 0 0 10px 0;
    padding: 0 0 15px 40px;
}

.menu {
    display: inline-block;
    padding: 70px 0 10px 100px;
}

.menu a {
    text-decoration: none;
    font-family: Marker felt, fantasy;
    font-size: 200;
    color: white;
}

.menu a:hover {
    text-decoration: underline;
}

.option-menu {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0 25px 0 35px;
}

footer {
    width: 100%;
    margin-top: 60px;
}

.bottom-page {
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 10px;
}

#form-container {
    margin-left: 30%;
    width: 40%;
    border-radius: 10px;
    border: 4px solid crimson;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(220,20,60,0.3);
}

#message-formulaire {
    margin-left: 30%;
    width: 40%;
    text-align: center;
    font-size: 18px;
    color: crimson;
    font-family: Marker felt, fantasy;
}

#form {
    padding: 20px;
}

.label {
    margin: 15px 15px 15px 5px;
}

.label input {
    width: 100%;
    border-radius: 5px;
    padding: 4px;
}

.label textarea {
    width: 100%;
    border-radius: 5px;
}

#submit-button {
    background-color: lightgrey;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid black;
}

#button-container {
    width: 100%;
    text-align: center;
}

.error-message {
    font-size: 8px;
    color: red;
    padding: 0;
    margin: 0;
    display: none;
}

.error-message p {
    margin: 0;
    padding: 0;
}

.content-form {
    display: block;
}

#content-succes {
    text-align: center;
}

#message-succes {
    color: crimson;
    font-size: 25px;
    font-weight: 300;
    font-family: Marker felt, fantasy;
}

.titre-liste {
    color: crimson;
    font-size: 25px;
    font-weight: 300;
    font-family: Marker felt, fantasy;
    text-align: center;
    width: 100%;
}

#gif-succes {
    padding: 15px;
}

#content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#recherche-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.element-list {
    border-radius: 5px;
    border: 3px solid crimson;
    padding: 10px;
    margin: 20px;
    width: 150px;
    background-color: rgba(220,20,60,0.2);
}

.element-list p {
    font-size: 12px;
}

.content-animal {
    display: block;
}

.propriétaire {
    margin: 3px 3px 3px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}

.propriétaire a {
    text-decoration: underline;
    font-size: 16px;
    color: blue;
}

.aproppos-animal {
    margin: 5px 5px 5px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    font-style: italic;
    width: 350px;
}

.separation-verticale {
    height: 200px;
}

#contenu-index {
    display: block;
}

#search-bar {
    background-color: rgba(220,20,60,0.2);
    border-radius: 15px;
    height: 30px;
    margin: 15px 5px 15px 65%;
    width: 20%;
    border: 2px solid crimson;
    padding-left: 10px;
}

#search-bar::placeholder {
    padding: 0;
}

#search-bar-container {
    display: inline;
}

#submit-search-bar {
    background-color: rgba(220,20,60,0.2);
    border-radius: 15px;
    height: 37px;
    margin: 15px 15px 15px 5px;
    border: 2px solid crimson;
}

.invisible {
    display: none;
}