{% extends 'menu.html' %}
{% block content %}
<div class="content">
    <div id="message-formulaire">
        <p>Inscrivez votre compagnon ici</p>
    </div>
    <div id="form-container">
        <form id="form" action="/submit" method="post">
            <div class="label">
                <label for="nom">Nom de l'animal</label>
                <input type="text" id="nom" name="nom" placeholder="ex: Caddie" required>
            </div>
            <div class="error-message" id="error-nom">
                <p>* Entrez le nom de l'animal (min 2, max 20 lettres)</p>
            </div>
            <div class="label">
                <label for="espece">Espèce de l'animal</label>
                <input type="text" id="espece" name="espece" placeholder="ex: Chien" required>
            </div>
            <div class="error-message" id="error-espece">
                <p>* Entrez l'espèce de l'animal (min 3 lettres)</p>
            </div>
            <div class="label">
                <label for="race">Race de l'animal</label>
                <input type="text" id="race" name="race" placeholder="ex: Chow-chow" required>
            </div>
            <div class="error-message" id="error-race">
                <p>* Entrez la race de l'animal</p>
            </div>
            <div class="label">
                <label for="age">Âge de l'animal</label>
                <input type="text" id="age" name="age" placeholder="ex: 3" required>
            </div>
            <div class="error-message" id="error-age">
                <p>* Entrez l'âge de l'animal (nombre entre 0 et 30)</p>
            </div>
            <div class="label">
                <label for="email">Votre courriel</label>
                <input type="email" id="email" name="email" placeholder="example@example.com" required>
            </div>
            <div class="error-message" id="error-email">
                <p>* Entrez votre courriel</p>
            </div>
            <div><h4>Votre Adresse</h4></div>
            <div class="label">
                <label for="num-civique">Adresse civique Civique</label>
                <input type="text" id="num-civique" name="num-civique" placeholder="ex: 1776 18e avenue" required>
            </div>
            <div class="error-message" id="error-num-civique">
                <p>* Entrez votre numéro civique</p>
            </div>
            <div class="label">
                <label for="ville">Ville</label>
                <input type="text" id="ville" name="ville" placeholder="ex: Montréal" required>
            </div>
            <div class="error-message" id="error-ville">
                <p>* Entrez votre ville</p>
            </div>
            <div class="label">
                <label for="code-postal">Code Psotal</label>
                <input type="text" id="code-postal" name="code-postal" placeholder="ex: A1B 2C3" required>
            </div>
            <div class="error-message" id="error-code-postal">
                <p>* Entrez votre code postal</p>
            </div>
            <div class="label">
                <label for="description">Courte description</label>
                <textarea id="description" name="description" rows="7" cols="35" placeholder="ex: Chien enjoué..." required></textarea>
            </div>
            <div class="error-message" id="error-description">
                <p>* Entrez une description (max 150 caractères)</p>
            </div>
            <div id="button-container">
                <input id="submit-button" type="submit" value="Soumettre" disabled>
            </div>                                 
        </form>
    </div>
</div>


<script src="js/script.js"></script>

{% endblock %}