{% extends 'menu.html' %}
{% block content %}
<div class="content">
    <div id="message">
        <p>Mettez votre compgnon en adoption</p>
    </div>
    <div id="form-container">
        <form id="form">
            <div class="label">
                <label for="nom">Nom de l'animal</label>
                <input type="text" id="nom" name="nom" placeholder="ex: Caddie" required>
            </div>
            <div class="label">
                <label for="espece">Espèce de l'animal</label>
                <input type="text" id="espece" name="espece" placeholder="ex: Chien" required>
            </div>
            <div class="label">
                <label for="race">Race de l'animal</label>
                <input type="text" id="race" name="race" placeholder="ex: Chow-chow" required>
            </div>
            <div class="label">
                <label for="age">Âge de l'animal</label>
                <input type="number" id="age" name="age" min="0" placeholder="ex: 3" required>
            </div>
            <div class="label">
                <label for="courriel">Votre courriel</label>
                <input type="email" id="email" name="email" placeholder="example@example.com" required>
            </div>
            <div><p><h4>Votre Adresse</h4></p></div>
            <div class="label">
                <label for="num-civique">Numéro Civique</label>
                <input type="number" id="num-civique" name="num-civique" min="1" placeholder="ex: 1776" required>
            </div>
            <div class="label">
                <label for="ville">Ville</label>
                <input type="text" id="ville" name="ville" placeholder="ex: Montréal" required>
            </div>
            <div class="label">
                <label for="code-postal">Code Psotal</label>
                <input type="text" id="code-postal" name="code-postal" placeholder="ex: A1B 2C3" required>
            </div>
            <div class="label">
                <label for="description">Courte description</label>
                <textarea id="nom" name="nom" rows="7" cols="35" placeholder="ex: Caddie" required></textarea>
            </div>
                                           
        </form>
    </div>
</div>

{% endblock %}