{% extends 'menu.html' %}
{% block content %}
    <div class="content-animal">
        <div class="titre-liste">
            <h3>Bienvenu sur la page de {{ animal.nom }}</h3>
            <p>{{ animal.nom }} est un {{ animal.espece }} de race {{ animal.race }} de {{ animal.age }} ans</p>
        </div>
        <div class="aproppos-animal">
            <h5>À proppos de {{ animal.nom }}</h5>
            <p class="description">{{ animal.description }}</p>
        </div>
        <div class="separation-verticale"></div>
        <div class="propriétaire">
            <a href="mailto:{{ animal.courriel }}">Contactez le propriétaire de {{ animal.nom }}</a>
        </div>
        <div class="propriétaire">
            <p>{{animal.adresse }}</p>
            <p>{{animal.ville }}</p>
            <p>{{animal.cp }}</p>
        </div>
    </div>
{% endblock %}