{% extends 'menu.html' %}
{% block content %}
    <div id="contenu-index">
        <div id="search-bar-container">
            <form id="search-form" action="/recherche" method="post">
                <input id="search-bar" type="text" name="search-bar" placeholder="Recherchez...">
                <input id="submit-search-bar" type="submit" value="Recherchez" disabled>
            </form>
        <div id="iamge-index">
            <div id="quote-index">

            </div>
        </div>
        <div id="en-vedette">

        </div>
        <div id="animaux-en-vedette">

        </div>
    </div>
    <script src="js/index.js"></script>
{% endblock %}