{% extends 'menu.html' %}
{% block content %}
    <div id="contenu-index">
        <div id="search-bar-container">
            <form id="search-form" action="/recherche" method="post">
                <input id="search-bar" type="text" name="search-bar" placeholder="Chercher parmi les animaux ...">
                <input id="submit-search-bar" type="submit" value="Recherchez" disabled>
            </form>
        <div id="quote-index">
            <p class="titre-liste">La vedette de la semaine</p>
            <div id="boutton-vedette">
                <p id="nom-vedette-semaine" class="titre-liste">Caddie</p>
            </div>
        </div>
        <div id="image-index-container">
            <div class="image-individuel">
                <img src="images/IMG_8695.jpeg" alt="Chien orange">
            </div>
            <div class="image-individuel">
                <img src="images/IMG_6098.JPG" alt="Chien orange">
            </div>
            <div class="image-individuel">
                <img src="images/IMG_5880.jpeg" alt="Chien orange">
            </div>

        </div>
        <div id="en-vedette">
            <p class="titre-liste">Aussi en vedette</p>
        </div>
        <div id="animaux-en-vedette">

        </div>
        <div id="vedette-liste">
            {% for animal in animaux%}
            <div class="element-list" id="vedette_{{loop.index}}">
                <h5>{{animal.nom}}</h5>
                <p>{{animal.description}}</p>
                <p id="id-vedette_{{loop.index}}" class="invisible">{{animal.id}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="js/index.js"></script>
{% endblock %}