{% extends 'menu.html' %}
{% block content %}
{% if not animaux %}
    <div class="titre-liste">
        <h3>Auncun Animal ne correspond à votre recherche</h3>
    </div>
{% else %}
    <div class="titre-liste">
        <h3>Cliquez sur un animal pour en savoir plus sur lui !</h3>
    </div>
    <div id="recherche-list"> 
        {% for animal in animaux%}
            <div class="element-list" id="animal_{{loop.index}}">
                <h5>{{animal.nom}}</h5>
                <p>{{animal.description}}</p>
                <p id="id_{{loop.index}}" class="invisible">{{animal.id}}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
<script src="js/recherche.js"></script>
{% endblock %}